{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid text-center">
  <div>
    <h1>Team ResuMates</h1>
    <hr />
    <div class="card-container mt-4 row justify-content-center">
      <div class="profile-card card-1 col-xl-3 col-lg-5 col-md-5">
        <div class="top"></div>
        <div class="bottom">
          <p class="role">Scrum Master</p>
          <p class="info">
            <span class="name-info">Vasilis</span>
            , Recently completed Code Institute's Full Stack Bootcamp programme.
            I'm excited to apply the skills learnt in this hackathon.
          </p>
          <a
            href="https://www.linkedin.com/in/vasileios-tsimourdagkas/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <a
            href="https://github.com/Vasileios20"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-github github-icon"></i
          ></a>
        </div>
      </div>
      <div class="profile-card card-2 col-xl-3 col-lg-5 col-md-5">
        <div class="top"></div>
        <div class="bottom">
          <p class="role">Team Lead</p>
          <p class="info">
            <span class="name-info">Erin</span>, Experienced in numerous
            hackathons, learnt collaboration, and problem-solving under
            pressure. With a strong background in full-stack development and
            design.
          </p>
          <a
            href="https://www.linkedin.com/in/erinvdoyle"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <a
            href="https://github.com/erinvdoyle"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-github github-icon"></i
          ></a>
        </div>
      </div>
      <div class="profile-card card-3 col-xl-3 col-lg-5 col-md-5">
        <div class="top"></div>
        <div class="bottom">
          <p class="role">Tester/QA Engineer</p>
          <p class="info">
            <span class="name-info">Marlon</span>, Ensures product quality, runs
            tests, backend authentication, README documentation and prevents
            bugs from reaching production.
          </p>
          <a
            href="https://www.linkedin.com/in/marlon-mandaya-544172234/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <a
            href="https://github.com/Markpm-code"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-github github-icon"></i
          ></a>
        </div>
      </div>
      <div class="profile-card card-4 col-xl-3 col-lg-5 col-md-5">
        <div class="top"></div>
        <div class="bottom">
          <p class="role">UX Designer</p>
          <p class="info">
            <span class="name-info">David</span>, I bring a unique blend of skills from my background in architecture, 
            construction, and engineering, with experience mechanical and electrical systems. 
            Having cultivated a strong foundation in technical problem-solving and project management, 
            I am now fully immersed in Full Stack Development. This hackathon marks a key milestone in 
            my journey, as I apply my interdisciplinary knowledge to tackle innovative challenges in tech.
            I am excited about using my skills to create impactful solutions, while continuously learning 
            and growing in the fast-paced world of software development.
          </p>
          <a
            href="www.linkedin.com/in/david-cotter-junior-software-developer"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <a
            href="https://github.com/trxdave"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-github github-icon"></i
          ></a>
        </div>
      </div>
      <div class="profile-card card-5 col-xl-3 col-lg-5 col-md-5">
        <div class="top"></div>
        <div class="bottom">
          <p class="role">Product Owner</p>
          <p class="info">
            <span class="name-info">Kim</span>, Defines the vision for the
            product, manages the backlog, ensures the team delivers value and
            resolving conflicts on Github.
          </p>
          <a
            href="https://www.linkedin.com/in/kimhanlon291354/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <a
            href="https://github.com/kimatron"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-github github-icon"></i
          ></a>
        </div>
      </div>
      <div class="profile-card card-6 col-xl-3 col-lg-5 col-md-5">
        <div class="top"></div>
        <div class="bottom">
          <p class="role">Junior Developer</p>
          <p class="info">
            <span class="name-info">Ciaran</span>, Completed the 16 week full
            stack developer Bootcamp from code institute implementing the skills
            learnt into this hackathon.
          </p>
          <a
            href="https://www.linkedin.com/in/ciaran-griffin-2534622a5/"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <a
            href="https://github.com/ciarangriffin93"
            target="_blank"
            rel="noopener noreferrer"
            class="mt-4"
          >
            <i class="fab fa-github github-icon"></i
          ></a>
        </div>
      </div>
      <!-- <div class="profile-card card-7 col-xl-3 col-lg-5 col-md-5">
        <div class="top"></div>
        <div class="bottom">
          <p class="role">Frontend Designer</p>
          <p class="info">
            <span class="name-info">Neha</span>, Currently working through the
            Full Stack Software Developer Diploma. Excited to be applying the
            skills I've learnt to my very first Hackathon!
          </p>
          <a href="" target="_blank" rel="noopener noreferrer" class="mt-4">
            <i class="fab fa-linkedin linkedin-icon"></i
          ></a>
          <a href="" target="_blank" rel="noopener noreferrer" class="mt-4">
            <i class="fab fa-github"></i
          ></a>
        </div>
      </div> -->
    </div>
  </div>
</div>

{% endblock %}
