{% extends "base.html" %}

{% block title %}
Git Hired
{% endblock %}

{% block content %}

<header class="header">
    <div class="logo-container">
        <img src="https://img.icons8.com/?size=100&id=2784&format=png&color=FFFFFF" alt="GitHired Icon" class="logo-icon">
        <h1 class="logo-text">GitHired</h1>
    </div>
    <button class="join-button">Join Now</button>
</header>

<main>
    <div class="card">
        <div class="card2">
    <div class="main-container">
    <h1>GitHired</h1>
    <h2>Keep Track. Stay Organized. Get Hired.</h2>
    <p>Our streamlined job application tracker helps you manage every step of your job search process, so you can focus on what really matters — landing your dream role.</p>
    <button class="start-tracking">Start Tracking</button>
</div>
</div>
    </div>
</main>

<section class="icon-section">
    <article class="icon">
        <img src="https://img.icons8.com/?size=100&id=KiQto0nK14vX&format=png&color=FFFFFF" alt="Track your applications">
        <p>Track your applications</p>
    </article>
    <article class="icon">
        <img src="https://img.icons8.com/?size=100&id=23&format=png&color=FFFFFF" alt="Stay on top of deadlines">
        <p>Stay on top of deadlines</p>
    </article>
    <article class="icon">
        <img src="https://img.icons8.com/?size=100&id=11698&format=png&color=FFFFFF" alt="Prep for Interviews">
        <p>Prep for Interviews</p>
    </article>
    <article class="icon">
        <img src="https://img.icons8.com/?size=100&id=1775&format=png&color=FFFFFF" alt="Practice Technical Challenges">
        <p>Practice Technical Challenges</p>
    </article>
</section>

{% endblock %}