{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid text-center">
  <div>
    <h1>Team ResuMates</h1>
    <hr />
    <div class="card-container mt-4 row justify-content-center">
      <div class="profile-card  col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <img
            class="circle-img"
            src="{% static 'images/vasPr.png' %}"
            alt="profile image"
          />
          <div class="mx-auto mt-4">
            <a
              href="https://www.linkedin.com/in/vasileios-tsimourdagkas/"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-linkedin linkedin-icon"></i
            ></a>
            <a
              href="https://github.com/Vasileios20"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-github github-icon"></i
            ></a>
          </div>
        </div>
        <div class="bottom">
          <p class="role">Scrum Master</p>
          <p class="info">
            <span class="name-info">Vasileios</span>
            , Master in solving conflict issues and a Master in full stack
            development. When you have merge conflicts issues, just give him a
            shout🤙🏻.
          </p>
        </div>
      </div>
      <div class="profile-card  col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <img
            class="circle-img"
            src="{% static 'images/ern_pr.png' %}"
            alt="profile image"
          />
          <div class="mx-auto mt-4">
            <a
              href="https://www.linkedin.com/in/erinvdoyle"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-linkedin linkedin-icon"></i
            ></a>
            <a
              href="https://github.com/erinvdoyle"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-github github-icon"></i
            ></a>
          </div>
        </div>
        <div class="bottom">
          <p class="role">Team Lead</p>
          <p class="info">
            <span class="name-info">Erin</span>, Experienced in numerous
            hackathons, learnt collaboration, and problem-solving under
            pressure. With a strong background in full-stack development and
            design.
          </p>
        </div>
      </div>
      <div class="profile-card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <img
            class="circle-img"
            src="{% static 'images/marlon_pr.jpeg' %}"
            alt="profile image"
          />
          <div class="mx-auto mt-4">
            <a
              href="https://www.linkedin.com/in/marlon-mandaya-544172234/"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-linkedin linkedin-icon"></i
            ></a>
            <a
              href="https://github.com/Markpm-code"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-github github-icon"></i
            ></a>
          </div>
        </div>
        <div class="bottom">
          <p class="role">UI/UX</p>
          <p class="info">
            <span class="name-info">Marlon</span>, Being involved in hackathons
            keeps my knowledge improving and learning new ways on how to advance
            my career into Software development.
          </p>
        </div>
      </div>
      <div class="profile-card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <img
            class="circle-img"
            src="{% static 'images/david_pr.png' %}"
            alt="profile image"
          />
          <div class="mx-auto mt-4">
            <a
              href="https://www.linkedin.com/in/david-cotter-junior-software-developer/"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-linkedin linkedin-icon"></i
            ></a>
            <a
              href="https://github.com/trxdave"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-github github-icon"></i
            ></a>
          </div>
        </div>
        <div class="bottom">
          <p class="role">UX Designer</p>
          <p class="info">
            <span class="name-info">David</span>, I bring a unique blend of
            skills from my background in architecture, construction, and
            engineering, with experience mechanical and electrical systems.
            Having cultivated a strong foundation in technical problem-solving
            and project management, I am now fully immersed in Full Stack
            Development. This hackathon marks a key milestone in my journey, as
            I apply my interdisciplinary knowledge to tackle innovative
            challenges in tech. I am excited about using my skills to create
            impactful solutions, while continuously learning and growing in the
            fast-paced world of software development.
          </p>
        </div>
      </div>
      <div class="profile-card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <img
            class="circle-img"
            src="{% static 'images/kim_pr.png' %}"
            alt="profile image"
          />
          <div class="mx-auto mt-4">
            <a
              href="https://www.linkedin.com/in/kimhanlon291354/"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-linkedin linkedin-icon"></i
            ></a>
            <a
              href="https://github.com/kimatron"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-github github-icon"></i
            ></a>
          </div>
        </div>
        <div class="bottom">
          <p class="role">Product Owner</p>
          <p class="info">
            <span class="name-info">Kim</span>, Skilled UI designer with a keen
            eye for detail and a passion for creating intuitive, user-friendly
            interfaces. I specialize in crafting visually appealing designs that
            enhance user experience and bring ideas to life.
          </p>
        </div>
      </div>
      <div class="profile-card col-xl-3 col-lg-5 col-md-5">
        <div class="top">
          <img
            class="circle-img"
            src="{% static 'images/cair_pr_img.jpg' %}"
            alt="profile image"
          />
          <div class="mx-auto mt-4">
            <a
              href="https://www.linkedin.com/in/ciaran-griffin-2534622a5/"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-linkedin linkedin-icon"></i
            ></a>
            <a
              href="https://github.com/ciarangriffin93"
              target="_blank"
              rel="noopener noreferrer"
              class="mt-4"
            >
              <i class="fab fa-github github-icon"></i
            ></a>
          </div>
        </div>
        <div class="bottom">
          <p class="role">Junior Developer</p>
          <p class="info">
            <span class="name-info">Ciaran</span>, Passionate hackathon
            enthusiast with a love for tackling complex challenges and turning
            ideas into reality. Thrives in collaborative, fast-paced
            environments, and always eager to learn new technologies.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
