{% extends "base.html" %}

{% load static %}

{% block title %}
Job Dashboard
{% endblock %}

{% block content %}
<div class="container my-5 fluid">
    <div class="row">
        <div class="d-flex">
            <a href="{% url 'job_form' %}" class="btn ms-auto start-tracking">Add job</a>
        </div>
        <div class="row w-100">
            <div class="col-md-6 mx-auto">
                <h3>Search for Applications</h3>
                <form action="/job/filter/" method="GET" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                        name="query">
                    <button class="start-tracking" type="submit">Search</button>
                </form>
            </div>

            <div class="col-12 mx-auto">
                <h3>Your Applications</h3>
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date Applied</th>
                            <th>Company</th>
                            <th>Job Title</th>
                            <th>Location</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="application-list">
                        {% for application in applications %}
                        <tr>
                            <td>{{ application.date_applied }}</td>
                            <td>{{ application.company }}</td>
                            <td>{{ application.title }}</td>
                            <td>{{ application.location }}</td>
                            <td>{{ application.status }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No applications found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Link the external JavaScript file for job title search -->
<script src="{% static 'js/job_search.js' %}"></script>

{% endblock %}