{% extends 'base.html' %} {% block content %}
<h2>Job Application: {{ job.title }}</h2>
<p><strong>Company:</strong> {{ job.company }}</p>
<p><strong>Category:</strong> {{ job.category }}</p>
<p><strong>Title:</strong> {{ job.title }}</p>
<p><strong>Location:</strong> {{ job.location }}</p>
<p><strong>Date Applied:</strong> {{ job.date_applied|date:"Y-m-d H:i" }}</p>
<p><strong>Status:</strong> {{ job.get_status_display }}</p>
<p>
  <strong>Application Link:</strong>
  <a href="{{ job.url }}" target="_blank">{{ job.url }}</a>
</p>
{% if job %}
<a href="{% url 'job_details:edit_job' job.pk %}" class="btn btn-primary"
  >Edit</a
>
<a href="{% url 'job_details:delete_job' job.pk %}" class="btn btn-danger"
  >Delete</a
>
<a href="{% url 'job_details:job_list' %}" class="btn btn-secondary"
  >Back to List</a
>
{% else %}
<p>No job details available.</p>
<p>
  Please go to the
  <a href="{% url 'job_application' %}" class="">Job Dashboard</a>
</p>
{% endif %} {% endblock %}
