{% extends "base.html" %}

{% block title %}Code Challenges{% endblock %}

{% block content %}
<div class="cc-container">
   <h1 class="cc-title">Available Challenges (Difficulty: {{ difficulty }})</h1>
   <form method="get" action="" class="d-flex align-items-center">
      <div class="jad-form-group w-50">
         <label for="difficulty" class="jad-label">Choose Difficulty:</label>
         <select name="difficulty" id="difficulty" class="jad-input">
            <option value="easy" {% if difficulty == 'easy' %}selected{% endif %}>Easy</option>
            <option value="medium" {% if difficulty == 'medium' %}selected{% endif %}>Medium</option>
            <option value="hard" {% if difficulty == 'hard' %}selected{% endif %}>Hard</option>
         </select>

      </div>
      <div class="d-flex w-100">
         <button type="submit" class="cta-button glow-button start-tracking ms-auto my-auto w-50 ">Filter</button>
      </div>

   </form>

   <ul class="cc-list">
      {% for challenge in page_obj %}
      <li class="cc-list-item">
         <a href="{% url 'challenge_detail' challenge.slug %}">
            {{ challenge.title }}
         </a>
         <p>{{ challenge.description }}</p>
      </li>
      {% empty %}
      <li>No challenges available.</li>
      {% endfor %}
   </ul>

   <!-- Pagination Controls -->
   <div class="pagination d-flex justify-content-center mt-5">
      <span class="step-links">
         {% if page_obj.has_previous %}
         <a href="?page=1&difficulty={{ difficulty }}" class="glow-button">&laquo;</a>
          <a href="?page={{ page_obj.previous_page_number }}&difficulty={{ difficulty }}"
            class="glow-button start-tracking">&lsaquo;</a>
         {% endif %}

         <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
         </span>

         {% if page_obj.has_next %}
         <a href="?page={{ page_obj.next_page_number }}&difficulty={{ difficulty }}" class="glow-button start-tracking ms-2">&rsaquo;</a>
         <a href="?page={{ page_obj.paginator.num_pages }}&difficulty={{ difficulty }}"
            class="glow-button"> &raquo;</a>
         {% endif %}
      </span>
   </div>

   {% endblock %}