{% extends "base.html" %}

{% block content %}
<div class="cc-container">
    <h1 class="cc-title">{{ challenge.title }}</h1>
    <div class="cc-content">
        <p>{{ challenge.content|safe }}</p>
        
        <h3>Example Testcases:</h3>
        <pre>{{ challenge.exampleTestcases }}</pre>
    </div>

    <form method="post" action="{% url 'submit_solution' %}" class="cc-content">
        {% csrf_token %}
        <div class="cc-form-group">
            <label for="language" class="cc-label">Language</label>
            <select name="language" class="cc-select">
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
                <option value="cpp">C++</option>
            </select>
        </div>

        <div class="cc-form-group">
            <label for="source_code" class="cc-label">Your Solution</label>
            <textarea name="source_code" class="cc-textarea" rows="10" required></textarea>
        </div>

        <input type="hidden" name="expected_output" value="{{ challenge.expected_output }}" />

        <input type="hidden" name="challenge" value="{{ challenge.content }}" />
        <input type="hidden" name="challenge_slug" value="{{ challenge.slug }}" />
        <input type="hidden" name="example_test_case" value="{{ challenge.exampleTestcases }}" />
        <button type="submit" class="btn btn-primary">Submit Solution</button>
    </form>
</div>
{% endblock %}