body {
    background-color: #130e01;
    margin: 0;
    padding: 0;
    color: white;
}

.logo {
    text-decoration: none;
    color: white;
}

.logo:hover {
    color: white;
}

/* index.html --------------------------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.join-button {
    padding: 10px 20px;
    background-color: #00d1ce;
    color: white;
    border-radius: 5px; 
    border: none;
}

.card {
    background-image: linear-gradient(163deg, #00d1ce 0%, #7f48cb 100%);
    border-radius: 15px;
    transition: all 0.3s;
    padding: 0; 
    margin: 0 15px;
    overflow: hidden;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(163deg, #00d1ce 0%, #7f48cb 100%);
    z-index: 0;
    border-radius: inherit;
    clip-path: polygon(0% 0%, 10% 0%, 0% 10%, 0% 0%, 90% 0%, 100% 0%, 100% 10%, 100% 0%, 100% 90%, 100% 100%, 90% 100%, 100% 100%, 0% 100%, 0% 90%, 10% 100%, 0% 100%); 
    transition: all 0.3s;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background-color: #130e01;
    margin: 0; 
    border-radius: 25px;
    box-shadow: none; 
    position: relative;
    z-index: 1;
}

.card2 {
    border-radius: 0; 
    transition: all 0.2s;
}

.card2:hover {
    transform: scale(0.99);
    border-radius: 20px; 
}

.card:hover {
    box-shadow: 0px 0px 30px 1px #7f48cb;
}
 
.main-container h2 {
    margin-bottom: 10px;
}

.start-tracking {
    padding: 10px 30px;
    background-color: #00d1ce;
    border-radius: 5px; 
    color: white;
    border: none;
}

/* Icon Section */

.icon-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.icon {
    text-align: center;
}

/* Team profiles */
.card-container {
    margin: 0 auto;
    margin-top: -20px;

  }

.profile-card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-size: cover;
    border: 2px solid #00d1ce;
    margin: 20px 10px;
    height: 400px;
    align-items: center;
  }

  .profile-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px 1px #7f48cb;
  }

  .card-1 {
    background-image: url('../images/vas_pr.png');
  }

  .card-2 {
    background-image: url('../images/erin_pr.png');
  }

  .card-3 {
    background-image: url('../images/mar_pr.png');
  }

  .card-4 {
    background-image: url('../images/david_pr.png');
  }
  
  .card-5 {
    background-image: url('../images/kim_pr.png');
  }

  .card-6 {
    background-image: url('../images/cair_pr.png');
  }

  /* .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #FFFF;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
   */

  /* .name {
    font-size: 2em;
    text-align: center;
    flex: 1;
    margin:auto;
    border-radius: 10px;
    height: fit-content;
    padding: 4px;
  } */

  .name-info {
    font-weight: 400;
    font-size:24px;
    border-left: 3px solid #7f48cb;
    padding:4px;
  }

  .linkedin-icon,
  .github-icon {
    background: linear-gradient(163deg, #00d1ce 0%, #7f48cb 100%);
    color: #FFFFFF;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    margin:0 10px;
  }

  .bottom {
    margin-top: 200px;
    overflow-y: auto !important;
    border-radius: 10px;
    background-color: #130e01;
    opacity: 0.8;
  }
  
  .info {
    margin: 20px auto;
  }

  .role {
    margin: 20px 10px;
    font-weight: 400;
    font-size:x-large;
    border-bottom:2px solid #00d1ce;
    width: fit-content;
  }
