body {
    background-color: #130e01;
    margin: 0;
    padding: 0;
    color: white;
}

.logo {
    text-decoration: none;
    color: white;
}

.logo:hover {
    color: white;
}

/* index.html --------------------------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.join-button {
    padding: 10px 20px;
    background-color: #00d1ce;
    color: white;
    border-radius: 5px;
    border: none;
}

.card {
    background-image: linear-gradient(163deg, #00d1ce 0%, #7f48cb 100%);
    border-radius: 15px;
    transition: all 0.3s;
    padding: 0;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(163deg, #00d1ce 0%, #7f48cb 100%);
    z-index: 0;
    border-radius: inherit;
    clip-path: polygon(0% 0%, 10% 0%, 0% 10%, 0% 0%, 90% 0%, 100% 0%, 100% 10%, 100% 0%, 100% 90%, 100% 100%, 90% 100%, 100% 100%, 0% 100%, 0% 90%, 10% 100%, 0% 100%);
    transition: all 0.3s;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background-color: #130e01;
    margin: 0;
    border-radius: 25px;
    box-shadow: none;
    position: relative;
    z-index: 1;
}

.card2 {
    border-radius: 0;
    transition: all 0.2s;
}

.card2:hover {
    transform: scale(0.99);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px #7f48cb;
}

.main-container h2 {
    margin-bottom: 10px;
}

.start-tracking {
    padding: 10px 30px;
    background-color: #00d1ce;
    border-radius: 5px;
    color: white;
    border: none;
}

/* Icon Section */

.icon-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.icon {
    text-align: center;
}

/* Sign Up/ Login/ Password Change/ Password Reset forms */
.signup input,
.login input,
.password_change input,
.password_reset input,
.password_reset_from_key input {
    height: 3em;
    padding: 1px 8px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid #fff;
    background: rgba(139, 255, 247, 0.486);
    box-shadow: 0px 0px 1px 3px #9ee5e3 inset, 0px 4px 4px 0px #181a6040;
    text-shadow: 0px 1px 4px rgb(243, 243, 243);
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #id_remember {
    padding: 5px;
    width: fit-content;
} */

/* .border-clr {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
} */

/* From Uiverse.io by KhelVers */
/* From Uiverse.io by yashasvi9199 */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
}

.card_reg {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 22px;
    transition: all 0.3s;
}

.card_reg2 {
    border-radius: 0;
    transition: all 0.2s;
}

.card_reg2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card_reg:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
    text-align: center;
    text-decoration: none;
}

.button1:hover {
    background-color: black;
    color: white;
}

.button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
    text-align: center;
    text-decoration: none;
}

.button2:hover {
    background-color: black;
    color: white;
}

.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
    text-decoration: none;
}

.button3:hover {
    background-color: red;
    color: white;
}

/* .btn3-pd {
    padding: 0.93rem;
} */