{% extends "base.html" %}

{% load static %}

{% block title %}
Job Dashboard
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <!-- Job Details Section -->
        <div class="col-md-6 mb-4">
            <h3 class="jd-title">Job Details</h3>
            {% if job %}
            <div class="ja-container">
                <p><strong>Title:</strong> {{ job.title }}</p>
                <p><strong>Company:</strong> {{ job.company }}</p>
                <p><strong>Location:</strong> {{ job.location }}</p>
                <p><strong>Status:</strong> {{ job.status }}</p>
                <p><strong>Date Created:</strong> {{ job.date_applied }}</p>
                <div class="ja-button-group">
                    {% if job %}
                    <a href="{% url 'update_job' job.id %}" class="ja-button">Edit Application</a>
                    <a href="{% url 'delete_job' job.id %}" class="danger">Delete Application</a>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <p>No job selected. Please add or select a job to view details.</p>
            {% endif %}
        </div>
    </div>
    <div class="row">

        <h3 class="jd-title">Notes</h3>
        <ul>
            {% for note in notes %}
            <li>{{ note.notes }} <small>(Added on {{ note.date_created }})</small>

                {% if note.date_updated != note.date_created %}
                <small>(Updated on {{ note.date_updated}})</small>
                {% endif %}
            </li>
            <a href="{% url 'update_note' note.id %}">Edit</a>
            <a href="{% url 'delete_note' note.id %}">Delete</a>
            {% endfor %}
        </ul>

        <a href="{% url 'add_note' job.id %}" class="jd-button">Add Note</a>
    </div>

    
</div>

{% endblock %}